@import '@/assets/styles/_variables.scss';

.link {
	text-decoration: none;
	width: 61px;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&_locked {
		pointer-events: none;
	}
}

.title {
	color: $color-accent;
	font-size: $font_size-body;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-accent;
}
